/*body, ul{
	margin: 0;
	padding: 0;
	background:url(images/4567.jpg);
	background-size:100% 768px;	 

     padding-left:9.2%;
	background-repeat:no-repeat;
}*/
#wrapper{
	 width: 80%; 
  height: 35px; 
  clear: both; 
}
/*
#canvas{ 
	cursor: crosshair;
	width: 600px; 
	height: 500px;
}*/

.menu2 ul {
	background: none repeat scroll 0 0 #A0522D;
	height: 40px;
	list-style: none outside none;
	padding : 0;	
}
.menu2 li {
	float: left;
	padding:0;
	border-right: 1px solid #FFFFE0;
	font: bold 14px Arial;
	
}

.menu2 label {
	line-height: 35px;
	color: #FFFFE0;
	text-align: center;
	text-decoration: none;
	padding: 1em;
}

.menu2 input {
	width:3em;
}
.menu2 li a:hover {
	background-color: #A0522D;
	color: 	#FFF;
	cursor: pointer;
}


.menu2 li a {
	line-height: 35px;
	color: #FFFFFF;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
}
.menu2:after{
	clear:both;
}

/*submenu*/
.menu2 li ul{
	background:none;
	display:none;
	height:auto;
	padding:0;
	position:absolute;
	z-index:2;
}

.menu2 li ul li{
	background:#FFFFE0;
  border: none;

}
.menu2 li:hover ul{
	display:block;
}
.menu2 li li {
	display:block;
	height:35px;
	float:none;
	margin:0;
	padding:0;
}
.menu2 li:hover li a{
	background:none;
	line-height: 35px;
	color: #cc9900;
	padding: 0 1.5em;
}
.menu2 li ul a{
font: bold 14px Arial;
	display:block;
	height:35px;
	font-style:normal;
	margin:0;
	padding: 0;
	text-align:left;
}
.menu2 li ul a:hover, .menu li ul li:hover a{

	background-color: #663300;
	color: #cc9900;
	border:0;
	text-decoration:none;
} 