.form1{width:350px;
		position:absolute;
		top:40%; left:35%;}

.form1 label {font-size:17px;}

.form1 table {width:100%;
			border-collapse: collapse;}
				
.form1 th {width: 100px;
			border:solid 1px #aaaaaa;
			padding:8px;
			background-color:#2894FF;
			font-size:17px;
			text-align:center;}
				
.form1 td {border:solid 1px #aaaaaa;
			padding:8px;
			font-size:17px;}
				
.form1 p {text-align:center;}

.form2{width:400px;
		position:absolute;
		top:240px; left:100px;}

.form2 label {font-size:17px;}

.form2 table {width:100%;
			border-collapse: collapse;}
				
.form2 th {width: 70px;
			border:solid 1px #aaaaaa;
			padding:8px;
			background-color:#2894FF;
			font-size:17px;
			text-align:center;}
				
.form2 td {border:solid 1px #aaaaaa;
			padding:8px;
			font-size:17px;}
				
.form2 p {text-align:center;}

.form3{width:500px;
		position:absolute;
		top:330px; left:450px;}

.form3 label {font-size:17px;}

.form3 table {width:100%;
			border-collapse: collapse;}
				
.form3 th {width: 120px;
			border:solid 1px #aaaaaa;
			padding:8px;
			background-color:#2894FF;
			font-size:17px;
			text-align:center;}
				
.form3 td {border:solid 1px #aaaaaa;
			padding:8px;
			font-size:17px;}
				
.form3 p {text-align:center;}

.form4{position:absolute;
		top:280px; left:400px;}

