a{text-decoration:none}
	.a1{position:absolute; 
		top:80px; 
		left:25px; 
		font-family:hobo std;
		z-index:1}
	
	.a2{position:absolute; 
		top:65px; 
		left:750px; 
		z-index:2}
	
	.a3{position:absolute;
		top:210px; 
		left:200px;
		width:580px;
		height:250px;
		}
		
	.a4{position:absolute;
		top:210px; 
		left:200px;
		width:530px;
		height:325px;
		}
	.a5{position:absolute; 
		  top:20px; 
		  left:860px; 
		  z-index:3}
	
	.a6{position:absolute;
		top:215px; 
		left:200px;
		width:530px;
		height:420px;
		}
	
	.a7{position:absolute;
		top:215px; 
		left:200px;
		width:560px;
		height:750px;
		}
	#menu{
			width:auto;
			height:45px;
			clear:both}
	
	ul.navi{  /*導覽列格式設定*/
			list-style-type: none;
			position:absolute; 
			float:middle;
			top:0px;      /*導覽列與網頁最上方的距離*/
			width:100%;   /*導覽列的長度*/
			height:45px;   /*導覽列的寬度*/
			margin:0px;   /*導覽列的與四邊元素的距離*/
			padding:2px 35px;  /*導覽列內功能鍵與四邊元素的距離*/
			background:#BEBEBE}   /*導覽列顏色 Gray灰色*/
	
	ul.navi li{
				display:inline;}  /*把大綱橫向配置*/
	
	ul.navi li a{ /*導覽列功能鍵的格式設定*/
				 float:middle;            /*文字置中,粗體,15像素,標楷體*/
				 font:bold 15px 標楷體;
				 line-height:45px;        /*功能鍵與網頁最上方的距離*/
				 color:#ffffff;           /*文字顏色  White白色*/
				 margin:0px;              /*功能鍵與四邊元素的距離*/
				 padding:15px 15px;       /*文字與功能鍵的距離*/
				 background:#BEBEBE;}     /*功能鍵的顏色*/
	
	/*ul.navi .current a,*/ ul.navi li:hover > a{  /*游標移到主選單時的格式設定*/
				color:#FF0000;        /*文字顏色*/
				background:#000000;}  /*功能鍵顏色變黑  black 黑色*/
	
	ul.navi ul{
				display:none;}     /*當游標不在功能鍵上時,隱藏子選單*/
	
	ul.navi li:hover > ul{  /*當游標在功能鍵上時,子選單的樣式*/
				position:absolute; 
				display:block;    /*顯示子選單*/
				width:895px;      /*子選單的長度*/
				height:45px;      /*子選單的高度*/
				margin:0px 25px;      /*子選單與四邊元素的距離*/
				padding:2px 8px;     /*子選單內功能鍵與四邊元素的距離*/
				background:#696969;}  /*子選單的顏色  DimGrey深灰*/
	
	ul.navi li:hover > ul li a{  /*子選單功能鍵的設定*/
				float:middle;            /*文字置中,粗體,15像素,標楷體*/
				font:bold 15px 標楷體;
				line-height:45px;        /*子選單與網頁最上方的距離*/
				color:#ffffff;           /*文字顏色  White白色*/
				margin:0px;              /*子選單與四邊元素的距離*/
				padding:15px 12px 15px 12px;       /*文字與子選單的距離*/
				background:#696969;}     /*子選單的顏色*/
	
	ul.navi li:hover > ul li a:hover{ /*游標移到主選單再移到子選單時的格式設定*/
				color:#FF0000;        /*文字顏色*/
				background:#000000;}  /*子選單顏色變黑  black 黑色*/